<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
<!-- Load joint controller configurations -->
<rosparam file="$(find weed_robot_gazebo)/config/controller.yaml" command="load"/>

<!-- load the controllers -->
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" 
    output="screen" args="steer_drive_controller
                          joint_state_controller"/>

<!-- rosrun teleop_twist_keyboard teleop_twist_keyboard.py cmd_vel:=/steer_drive_controller/cmd_vel -->

</launch>