<?xml version="1.0" encoding="UTF-8"?>
<launch>

<arg name="world" default="empty"/>
<arg name="localization" default="amcl"/>

<!-- Map server -->
<node name="map_server" pkg="map_server" type="map_server" 
    args="$(find diff_drive_robot_gazebo)/maps/$(arg world).yaml"/>
    
<!-- Localization-->
<group if="$(eval localization=='amcl')">
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <remap from="scan" to="diff_drive_robot/laser_scan"/>
    <rosparam file="$(find diff_drive_robot_gazebo)/config/amcl_params.yaml" command="load"/>
  </node>
</group>
<group if="$(eval localization=='fake')">
  <node name="fake" pkg="fake_localization" type="fake_localization" output="screen">
    <remap from="base_pose_ground_truth" to="diff_drive_robot/odom"/>
    <rosparam file="$(find diff_drive_robot_gazebo)/config/fake_params.yaml" command="load"/>
  </node>
</group>

<!-- Move base -->
<node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">

  <rosparam file="$(find diff_drive_robot_gazebo)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
  <rosparam file="$(find diff_drive_robot_gazebo)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
  <rosparam file="$(find diff_drive_robot_gazebo)/config/local_costmap_params.yaml" command="load"/>
  <rosparam file="$(find diff_drive_robot_gazebo)/config/global_costmap_params.yaml" command="load"/>
  <rosparam file="$(find diff_drive_robot_gazebo)/config/base_local_planner_params.yaml" command="load"/>
  <rosparam file="$(find diff_drive_robot_gazebo)/config/base_global_planner_params.yaml" command="load"/>

  <remap from="cmd_vel" to="diff_drive_robot/cmd_vel"/>
  <remap from="odom" to="diff_drive_robot/odom"/>
  <remap from="scan" to="diff_drive_robot/laser_scan"/>

  <!-- A fast, interpolated global planner built as a more flexible replacement to navfn. -->
  <!-- navfn/NavfnROS, global_planner/GlobalPlanner, carrot_planner/CarrotPlanner -->
  <param name="base_global_planner" value="global_planner/GlobalPlanner"/>

  <!-- provides an interface for local planners used in navigation -->
  <!-- base_local_planner/TrajectoryPlannerROS, eband_local_planner/EBandPlannerROS, teb_local_planner/TebLocalPlannerROS  -->
  <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
  
  <param name="controller_frequency" value="10.0" />
  <param name="planner_frequency" value="10.0" />

</node>

</launch>
